<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello chiri</h1>
    <!-- <h1>Travel time is {{duration}}</h1>
    <h1>next stop is {{next_stop_name}}</h1> -->
    <h1>
        latitude is {{latitude}} <br>
        longitude is {{longitude}}
    </h1>
    <!-- <h1>{{coordinates}}</h1> -->
    <!-- <h1>
        {{pos_lat}} <br>
        {{pos_Lng}}
    </h1> -->
</body>
</html>